@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vonique";
  src: url("../assets/fonts/Vonique 64.ttf");
}
@font-face {
  font-family: "BoiledSnakes";
  src: url("../assets/fonts/BoiledSnakes.ttf");
}
@font-face {
  font-family: "Hotlady";
  src: url("../assets/fonts/Hotlady.ttf");
}

html, body {
  scroll-behavior: smooth;
  background-color: black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.firstParagraph {
  animation: first 70s linear infinite;
  
}
.secondParagraph {
  animation: second 100s linear infinite;
 
}
.thirdParagraph {
  animation: third 130s linear infinite;
  
}
.fourthParagraph {
  animation: fourth 200s linear infinite;
  
}

.loader-title {
  background-image: radial-gradient(closest-corner, #DCBA62 100%, transparent 0);
  background-position: -15%;
  background-repeat: no-repeat;
  background-size: 30px 50px;
  animation: background-position 2s ease-in-out infinite
}


@keyframes background-position {
  0% {
    background-position: -15%;
  }
  100% {
    background-position: 113%;
  }
}
@keyframes first {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.335%);
  }
}
@keyframes second {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.418%);
  }
}
@keyframes third {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.403%);
  }
}
@keyframes fourth {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.41%);
  }
}
